/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap');

/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/* Start Header Section */
header {
    margin-top: 45px;
    font-weight: 400;
}

header h1 {
    text-align: center;
}
/* End Header Section */

/* Start Main Section */
main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.card {
    width: 500px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-header p {
    position: relative;
    top: 8px;
    text-align: center;
}

.card-body p {
    margin-top: 15px;
}

.button {
    border: none;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.button button {
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    position: relative; 
    top: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.button button i {
    font-size: 20px;
}

.author {
    padding-top: 20px;
}
/* End Main Section */

/* Media Queries */
@media only screen and (max-width: 480px) {
    
    /* Start Main Section */
    main {
        width: 300px; 
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }
    /* End Main Section */
}